stages:
  - test
  - build



test:
  stage: test
  image: python:3.9
  before_script:
    - pip install -r requirements.txt
  script:
    - python manage.py test

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
  script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - docker build -t $DOCKER_USER/sana3ti-backend .
    - docker push $DOCKER_USER/sana3ti-backend
  only:
    - main