image: python:3.9

services:
  - docker:dind

stages:
  - test
  - build

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

before_script:
  - pip install -r requirements.txt

test:
  stage: test
  script:
    - python manage.py test

build:
  stage: build
  script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - docker build -t $DOCKER_USER/sana3ti-backend .
    - docker push $DOCKER_USER/sana3ti-backend
  only:
    - main

